body {
	font-family: "ו";
	font-size: 12pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	margin: 0px;
	SCROLLBAR-FACE-COLOR: #F5F2F2; 
	SCROLLBAR-HIGHLIGHT-COLOR: #eef7ff; 
	SCROLLBAR-SHADOW-COLOR: #669999; 
	SCROLLBAR-3DLIGHT-COLOR: #669999; 
	SCROLLBAR-ARROW-COLOR: #669999; 
	SCROLLBAR-TRACK-COLOR: #e0e7eb; 
	SCROLLBAR-DARKSHADOW-COLOR: #eef7ff
}

table.table1 {
        width:"99%";
        border-collapse : collapse;
        BORDER:0;
        COLOR: #006666; 
        font-family: Helvetica,Tahoma,Arial,sans-serif;
	    FONT-SIZE: 14px;
	    LINE-HEIGHT: 1.5;
        text-align: left ;
        
}
table.table1 tr td  {	    
	    FONT-FAMILY: "ו", "Arial", "sans-serif" ; 
        text-indent: 2px ;        
}

.table1 caption{
	background-image:url(../pic/bg.jpg);
	font-size: 15px;
	font-weight: bold;
}

table.table2 {
        width:"99%";
        border-collapse : collapse;
        BORDER:0;
        COLOR: #006666; 
        font-family: Helvetica,Tahoma,Arial,sans-serif;
	    FONT-SIZE: 13px;
	    LINE-HEIGHT: 1.5;
        text-align: left ;
        BORDER-left: #0C5953 1px solid;
        BORDER-top: #0C5953 1px solid;
        
}
table.table2 tr td  {	    
	    FONT-FAMILY: "ו", "Arial", "sans-serif" ;
	    BORDER-BOTTOM: #0C5953 1px solid;
        BORDER-right: #0C5953 1px solid;       
        text-indent: 2px ;        
}

.table2 .hd{
	text-align: center;
	font-weight: bold;
}
.table2 caption{
	background-image:url(../pic/bg.jpg);
	font-size: 15px;
	font-weight: bold;
}

table {
	font-size: 12px;
	color: #000000;
	border: thin none;
}
.tr {
	background-image: url(../images/tr_bg.jpg);
}
.rowoutdark {
	background-color:#F8FEFF;
	line-height: 20px;
}
.button_1 {
	background-image: url(../images/button21-5.gif);
	background-repeat: no-repeat;
	background-position: left;
	border: none #ffffff;
	page-break-before: right;
	page-break-after: left;
	height: 21px;
	width: 70px;
	cursor: hand;
	font-size: 12px;
	color: #14326D;
	word-spacing: 1em;
}

input{
	margin: 1px;
	padding: 1px;
	width: auto;
	border: expression((this.type=='checkbox'||this.type=='radio')?'0px':'1px solid #3E5B58');
    onmouseover: expression(onmouseover=function(){if(this.type!='checkbox'&&this.type!='radio')this.style.border='1px solid #00cc33';});
    onmouseout: expression(onmouseout=function(){if(this.type!='checkbox'&&this.type!='radio')this.style.border='1px solid #3E5B58';});
}
.rowoutlight {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(../images/TBG.jpg); COLOR: #ffffff; LINE-HEIGHT: 20px; HEIGHT: 30px; BACKGROUND-COLOR: #ffcc99
}
.rowoutdark2 {
	background-color: #F3F3F3;
	overflow: visible;
	line-height: 20px;
}

a:active {
	font-size: 12px;
	color: #104D71;
	text-decoration: underline;
}
.page {
	font-size: 12px;
	color: #999999;
}
a:link {
	color: #104D71;
	text-decoration: none;

}
a:visited {
	font-size: 12px;
	color: #104D71;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: none;
}
a:active {
	font-size: 13px;
	color: #104D71;
	text-decoration: underline;
}

